{% extends 'base.html' %}


{% block content %}

<title>Doctor List</title>
</head>
<body>
    <h1>All Doctors</h1>
    <table>
     <tr>

          <th>Name </th>
          <th>Speciality </th>
          <th>Details </th>
        </tr>
        <
        {% for doctor in doctors %}
       
        <tr>

          <td>{{ doctor.name }}</td>
          <td>{{ doctor.speciality }}</td>
          <td><a href="/doctor/{{ doctor.id }}">voir Details</td>
        </tr>
        {% empty %}
            <li>No items found.</li>
        {% endfor %}
    </table>
    

{% endblock %}
