<form action="" method="Post">
 <! {% url 'doctor-detail' band.id %}->
  <button type="submit" value="Submit">Ajouter</button>
  <button type="reset" value="Reset">Reset</button>
    </form> 
{% extends 'base.html' %}


{% block content %}
    
    <h1>All Schedules</h1>
 
    <table>
     <tr>
          <th>Patient Name </th>
          <th>Gender</th>
          <th>Payment </th>
          <th>Action </th>
        </tr>
        {% for appointment in items %}
       
        <tr>     
          <td>{{ appointment.patient_name }}</td>
          <td>{{ appointment.gender }} </td>
          <td>{{ appointment.price  }}</td>
          <td><a href="../appointment/detail/{{ appointment.id }}">Details<td>

        </tr>
        {% empty %}
            <li>No items found.</li>
        {% endfor %}
    </table>
    
{% endblock %}

